@charset "UTF-8";





* {
    margin: 0px;
    padding: 0px;

}



@media screen and (min-width: 320px) and (max-width: 720px){


/*------------------------------------------------------Piratas Burguer----------------------------*/

body {
    background-image: url("../imagens/pexels-drais-pereyra-7113306.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 95vw;
}



/*------------------------------------------------------LANCHES----------------------------*/



main > div#pano {
    background-color: rgba(242, 242, 242, 0.493);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 900px 0px 0px 0px ;
    width: 90vw;


}

main > div#pano >div#titulo {
    text-align: center;
    
}

main > div#pano > div#titulo > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:  0px 0px 20px 0px;
    font-size: 40px;
    color: rgb(242, 202, 82);
    text-shadow: 1px 1px 1px black;
}

main > div#pano > div#titulo > h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:  20px 0px 100px 0px;
    font-size: 30px;
    text-decoration: underline;
}

#pseparar {
    padding: 3px 0px;
    background-color: rgb(34, 0, 0);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.192);
    margin-bottom: 70px;

}



main > div#pano > div#titulo > img {
    padding: 50px;
    height: 70%;
    width: 70%;
}

/*----------------------------Começo do Cardapio---------------------------------------------*/ 

main > div#pano > div#topo {
    margin-top: -70px;
}

main > div#pano > div#topo > div#fundo-hambuerguer {
    background-color: rgb(2, 38, 1, 0.15);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.288);
}

main > div#pano > div#topo > div#fundo-hambuerguer > div#imagem {
    height: 50%;
    width: 50%; 
}

main > div#pano > div#topo > div#fundo-hambuerguer > div#imagem > img {
    height: 120%;
    width: 120%; 
    padding: 0px 80px 0px 80px;
}
/*
main > div#pano > div#pote {
    background-color: rgb(58, 11, 168);

}
*/

main > div#pano > div#pote > div#esquerda {
    display: inline-block;
   /* background-color: rgb(168, 82, 11);*/



}

main > div#pano > div#pote >  div#direita {
    display: inline-block;
    height: 40%;
    width: 40%;
    padding-left: 20px;
   /* background-color: rgb(11, 168, 71);*/
    



    
   
}

/*---------------------- X Pirata-------------------*/
/*
main > div#pano > div#topo {
    background-color: aqua;
}*/


main > div#pano > div#topo > div#lanche-casa {
   /* background-color: rgb(11, 168, 71);*/
    display: inline-block;
    padding: 50px 0px 50px 30px;


}

main > div#pano > div#topo > div#lanche-casa > h2#lpir {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(64, 1, 1);
    text-shadow: 1px 1px 1px black;
}

main > div#pano > div#topo > div#lanche-casa > h2#lvalor {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin-left: 10px;
    color: rgb(64, 1, 1);
    text-shadow: 1px 1px 1px black;

}


/*---------------------- LANCHES EM GERAL-------------------*/
/*
main > div#pano > div#separar {
    display: block;
    /*background-color: rgb(63, 46, 0);*/
    /*color: rgb(64, 1, 1);
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main > div#pano > div#separar > h1 {
    display: block;
}

main > div#pano > div#separar > div.linha {
    padding: 3px 0px;
    background-color: rgb(166, 3, 3);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.192);
    margin-bottom: 70px;
}*/

/*---------------------- ESQUERDO-------------------*/


main > div#pano > div#pote > div#esquerda > div.lanches {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(242, 202, 82);
    text-shadow: 1px 1px 1px black;
    padding-top: 17px;
    padding-bottom: 20px;

}

main > div#pano > div#pote > div#esquerda > div.lanches > h3.nome-lanche {
    display: inline-block;
    padding-left: 15px;
}

main > div#pano > div#pote > div#esquerda > div.lanches > h3.valor-lanche {
    display: inline-block;
    padding-left: 20px;

}


/*---------------------- DIREITO-------------------*/

main > div#pano > div#pote >  div#direita > div#imgs {
    background-color: rgb(2, 38, 1, 0.95);
    border-radius: 20%;
    padding: 10px 0px;
    box-shadow: 1px 1px 1px 1px black;
  
}

main > div#pano > div#pote >  div#direita > div#imgs > img {
    height: 60%;
    width: 60%;

    

}

main > div#pano > div#pote >  div#direita > div#imgs1 {
    background-color: rgb(2, 38, 1, 0.95);
    margin: 20px 0px 0px 0px;
    padding: 10px 0px;
    border-radius: 20%;
    box-shadow: 1px 1px 1px 1px black;
    
}

main > div#pano > div#pote >  div#direita > div#imgs1 > img {
    height: 60%;
    width: 60%;
  
    
}


/*---------------------- BAIXO-------------------*/

main > div#pano > div#pote >  div#baixo {
   /* background-color: aliceblue;*/
   margin-top: 50px;
        background-color: rgba(0, 255, 255, 0.315);
    border-radius: 30%;
    border-color: black;


}

main > div#pano > div#pote >  div#baixo > div#triangulo {
   text-align: center;
   background-color: rgba(55, 0, 255, 0.315);
   border-radius: 50% ;
   border-color: black;
   margin: 0px 40px;
   
}

main > div#pano > div#pote >  div#baixo > div#triangulo > h3.nome-lanche {
    display: block;
    padding: 15px 0px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);

}/**/

main > div#pano > div#pote >  div#baixo > div#triangulo > h3.valor-lanche {
    display: block;
    padding: 0px 0px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
}


main > div#pano > div#pote >  div#baixo > div#combo-saint {
    padding: 20px 0px 20px 50px;
    
}

main > div#pano > div#pote >  div#baixo > div#combo-saint > img {
    border-radius: 20%;
    background-color: aliceblue;
    padding: 5px;
    height: 80%;
    width: 80%;

}



}