@charset "UTF-8";





* {
    margin: 0px;
    padding: 0px;

}

@media screen and (min-width: 320px) and (max-width: 720px){
body {
    background-image: url("../imagens/pexels-drais-pereyra-7113306.jpg");
    background-repeat: no-repeat;
    background-position: center,center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

/*------------------------------------------------------Piratas Burguer----------------------------*/




/*------------------------------------------------------LANCHES----------------------------*/



main > div#pano {
    background-color: rgba(242, 242, 242, 0.493);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 900px 0px 100px 0px ;
    width: 90vw;

}

main > div#pano >div#titulo {
    text-align: center;
    
}

main > div#pano > div#titulo > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:  450px 0px 20px 0px;
    font-size: 50px;
    color: rgb(242, 202, 82);
    text-shadow: 1px 1px 1px black;
}

main > div#pano > div#titulo > h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:  20px 0px 100px 0px;
    font-size: 40px;
    text-decoration: underline;
}

#pseparar {
    padding: 3px 0px;
    background-color: rgb(34, 0, 0);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.192);
    margin-bottom: 70px;

}



main > div#pano > div#titulo > img {
    padding: 50px;
    height: 70%;
    width: 70%;
}

/*--------------------------------------------------------------Começo do Cardapio---------------------------------------------*/

main > div#pano > div#topo {
    padding: 0px 100px 0px 100px;
    /*background-color: blue;*/

}

main > div#pano > div#topo > div#imagem {
  background-color: rgb(2, 38, 1, 0.15);
    display: block;
    margin-left: -100px;
    margin-top: -70px;
    margin-right: -100px;
    margin-bottom: 10px;
    padding-right: 200px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.288);
 
    
}

main > div#pano > div#topo > div#imagem > img {
    height: 150px;
    width: 225px; 
    padding: 0px 100px 0px 70px;
}

/*main > div#pano > div#pote {
   /* background-color: rgb(58, 11, 168);*/
 /*
}*/


main > div#pano > div#pote > div#esquerda {
    display: inline-block;
   /* background-color: rgb(168, 82, 11);*/



}

main > div#pano > div#pote >  div#direita {
    display: inline-block;
  /*  background-color: rgb(11, 168, 71);*/
    padding-left: 30px;
    margin: -20px;

    
   
}

/*---------------------- X Pirata-------------------*/


main > div#pano > div#topo > div#lanche-casa {
    /*background-color: rgb(11, 168, 71);*/
    display: block;
    margin-right: -90px;
    padding: 60px 0px 90px 0px;

}

main > div#pano > div#topo > div#lanche-casa > h2#lpir {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(64, 1, 1);
    padding-left: 10px;
    margin-left: -70px;
    text-shadow: 1px 1px 1px black;
}

main > div#pano > div#topo > div#lanche-casa > h2#lvalor {
    display: inline-block;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(64, 1, 1);
    text-shadow: 1px 1px 1px black;
    padding-right: 0px;
}


/*---------------------- LANCHES EM GERAL-------------------*/
/*
main > div#pano > div#separar {
    display: block;
    /*background-color: rgb(63, 46, 0);*/
    /*color: rgb(64, 1, 1);
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main > div#pano > div#separar > h1 {
    display: block;
}

main > div#pano > div#separar > div.linha {
    padding: 3px 0px;
    background-color: rgb(166, 3, 3);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.192);
    margin-bottom: 70px;
}*/

/*---------------------- ESQUERDO-------------------*/


main > div#pano > div#pote > div#esquerda > div.lanches {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(242, 202, 82);
    text-shadow: 1px 1px 1px black;
    padding-top: 25px;
    padding-bottom: 20px;

}

main > div#pano > div#pote > div#esquerda > div.lanches > h3.nome-lanche {
    display: inline-block;
    padding-left: 15px;
}

main > div#pano > div#pote > div#esquerda > div.lanches > h3.valor-lanche {
    display: inline-block;
    padding-left: 20px;

}


/*---------------------- DIREITO-------------------*/

main > div#pano > div#pote >  div#direita > div#imgs {

    background-color: rgb(2, 38, 1, 0.95);
    padding: 0px 0px 0px 40px;
    margin: 0px 15px 0px 0px;
    border-radius: 20%;
    box-shadow: 1px 1px 1px 1px black;

  
}

main > div#pano > div#pote >  div#direita > div#imgs > img {
    height: 150px;
    width: 225px;
    margin: -10px -50px -10px -50px;
    

}

main > div#pano > div#pote >  div#direita > div#imgs1 {
    background-color: rgb(2, 38, 1, 0.95);
    padding: 0px 0px 0px 40px;
    margin: 20px 15px 0px 0px;
    border-radius: 20%;
    box-shadow: 1px 1px 1px 1px black;
    
}

main > div#pano > div#pote >  div#direita > div#imgs1 > img {
    height: 150px;
    width: 225px;
    margin: -10px -50px -10px -50px;
    
}

}